// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;



/* theme colors */

$color1: #88c7b7;
$color2: #de5b75;
$color3: #845fa1;
$color4: #e6ac5e;
$color5: #dee26d;
$color6: #887d86;

$cream: #f6f8ec;
$text: #483e44;
$lavender: #897c85;


.color1{
  background: $color1;
}
.color2{
  background: $color2;
}
.color3{
  background: $color3;
}
.color4{
  background: $color4;
}
.color5{
  background: $color5;
}
.color6{
  background: $color6;
}
